body {
    background-color: rgb(131, 25, 25);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
.projects 
{ 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
width: 40%;
margin: 12px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(155, 13, 13)
    
}